.contact th{
  width: 480px;
}
td .input_form {
  width: 480px;
}
.form{
  text-align: center;
}
.contact tr{
  height: 7rem;
}
.input_form tr:last-child th {
}
.side_menu li:hover{
  opacity: 0.6;
}
.submitbutton {
  font-size: 2rem;
  height: 40px;
  width: 70px;
  background-color: #0099CC;
  color: white;
}
.submitbutton:hover{
  opacity: 0.6;
}
.button{
  text-align:center;
}
.border-ridge{
  border-width:400px;
  width: 100%;
}
